.menu-container {
  position: relative;
  width: 50px; /* Ana menü öğesi genişliği */
  height: 50px; /* Ana menü öğesi yüksekliği */
}

.menu-item {
  position: absolute;
  width: 50px; /* Menü öğeleri genişliği */
  height: 50px; /* Menü öğeleri yüksekliği */
  background-color: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
  cursor: pointer;
}

.main-item {
  z-index: 10;
  cursor: pointer;
  opacity: 1; /* Her zaman görünür */
}

.item-1 { transform: translate(0, -60px); }
.item-2 { transform: translate(60px, 0); }
.item-3 { transform: translate(0, 60px); }
.item-4 { transform: translate(-60px, 0); }

.menu-item.open {
  opacity: 1;
  transform: translate(0, 0); /* Açık menü öğeleri orijinal konumuna geri döner */
}
