.mobile-invoice {
  gap: 0;
}

.mobile-invoice > p {
  inline-size: 100%;
  padding: 0.5% 1.5%;
  background: #353535;
  border-radius: 10px 10px 0 0;
  font-size: var(--fs5);
}

.activity-type {
  width: 100%;
  padding: 1.5% 2%;
  display: flex;
  align-items: flex-start;
  gap: var(--gap3);
  background: #454545;
  border-bottom: 1px solid #ccc5;
}

.activity-type:last-child {
  border-bottom: none;
}

.activity-type > p {
  inline-size: 150px;
  margin-top: 2px;
  font-size: var(--fs6);
  color: #fff;
}

.activity-types {
  width: calc(100% - 150px - var(--gap3));
  display: flex;
  align-items: center;
  gap: var(--gap3);
  overflow-x: auto;
}

.activity-types::-webkit-scrollbar {
  display: none;
}

.activity-types > :where(textarea, input) {
  height: calc(40px + (60 - 40) * (100vw - 320px) / (1440 - 320));
  padding: 0.5% 1%;
  background: #454545;
  border: 1px solid #ccc5;
  border-radius: 7px;
  font-size: var(--fs6);
  color: #fff;
  resize: none;
}

.activity-types > textarea {
  width: 100%;
}

.activity-types > input {
  width: 50%;
}

.activity-types > :where(textarea, input):focus {
  border: 1px solid #787aff;
}
