:root {
    --fs1: 48px;
    --fs2: 40px;
    --fs3: 32px;
    --fs4: 24px;
    --fs5: 20px;
    --fs6: 16px;
    --fs7: 14px;
    --fs8: 13px;
    --pd1: 5% 7%;
    --pd2: 3.5% 5%;
    --pd3: 3% 3% 0;
    --pd4: 4% 4% 5% 5%;
    --pd5: 1.3% 3%;
    --gap1: 30px;
    --gap2: 20px;
    --gap3: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



body {
    width: 100%;
}

::selection {
    background: #ffff00;
    color: #cfb1b1;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #555;
}


a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

@media(max-width: 500px) {
    ::selection {
        display: none;
    }
}