:root {
  --dph: 30px;
}

.product_box {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.add_product {
  width: calc(320px + (370 - 320) * (100vw - 320px) / (1440 - 320));
    padding: calc(var(--pd3) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap6);
    background: #333;
    border-radius: 15px;
}

.product_img {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background: #eee;
    font-size: calc(var(--fs1) * 2);
    color: #333;
}

.product_img input[type="file"] {
  display: none;
}

.selected_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add_product>button {
  width: 100%;
  height: var(--dph);
    border: none;
    border-radius: 5px;
    background: #eee;
    font-size: var(--fs6);
    color: #333;
}