/* #FF7F50 (Coral)
#FFA07A (Light Salmon)
#FFDAB9 (Peachpuff)
#FFE4B5 (Moccasin)
#FF6347 (Tomato)
#FF4500 (Orange Red) */

:root {
  --primary-color1: #89b0ae;
  --primary-color2: #d8e2dc;
  --primary-color3: #ffd6ba;
  --primary-color4: #81b29a;
  --primary-color5: #e29578;
  --primary-color6: #dde5b6;
}

.full-report-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap6);
}

.full-report-container > p {
  inline-size: 100%;
  line-height: 1.7;
  padding: 0 2%;
  background: #404040;
  font-size: var(--fs4);
}

.full-report-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap3);
  font-size: var(--fs6);
}

.full-report-header > p {
  padding: 0.5% 2%;
  border-radius: 10px;
  border: 1px solid;
  opacity: background-color 0.5;
}

.full-report-header > p:nth-child(1) {
  background: var(--primary-color1);
  color: var(--primary-color1);
  border-color: var(--primary-color1);
}

.full-report-header > p:nth-child(2) {
  background: var(--primary-color2);
  color: var(--primary-color2);
  border-color: var(--primary-color2);
}

.full-report-header > p:nth-child(3) {
  background: var(--primary-color3);
  color: var(--primary-color3);
  border-color: var(--primary-color3);
}

.full-report-header > p:nth-child(4) {
  background: var(--primary-color4);
  color: var(--primary-color4);
  border-color: var(--primary-color4);
}

.full-report-header > p:nth-child(5) {
  background: var(--primary-color5);
  color: var(--primary-color5);
  border-color: var(--primary-color5);
}

.full-report-header > p:nth-child(6) {
  background: var(--primary-color6);
  color: var(--primary-color6);
  border-color: var(--primary-color6);
}

.full-report-details {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: var(--gap3);
}

._details-content{
}
