.layout {
    width: 100%;
    height: 100%;
    display: flex;
    background: #555;
    overflow: hidden;
}

.aside {
    width: 25%;
    
}

.short_aside {
    width: 6%;
    
}

.main {
    width: 75%;
    
}

.long_main {
    width: 96%;
    
}